.form form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 40rem;
    padding: 2rem;
}

.form form > *{
    margin: 0.5rem;
    width:13rem;
    height:2rem;
    border: 1px solid black;
}



body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#submit{
    width:7rem;
    background-color:black;
    color:white;
}
